@media(min-width: 768px){
    .navbaresponsive{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 22px;
    }
    .preguntas{
        height: 800px;
        width: 320px;
        font-size: 19px;
        text-align: center;
        justify-content: center;
        margin-left: 10px;
    }
.responsivebuscador{
    margin-top: 45px;
    text-align: center;
}
.nosotrosresponsive{
    font-size: 34px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.nosotrosresponsivedos{
font-size: 23px;
margin-top: 40px;
margin-bottom:40px;
}

.responsive{
    display: flex   ;
    flex-direction: column;
    justify-content: space-around;
    font-size: 10px;
    margin-top: 24px;
    text-decoration: none;
}

.maindad{
    width: 1100px;
    text-align: center;
    justify-content: center;
}



}
