@media(min-width:1440px ){
    .responsive{
        display: flex   ;
        justify-content: space-around;
        font-size: 24px;
        width: 750px;
        margin-top: 24px;
}

.responsivetext{
    width: 100%;
    text-align: center;
}

.formresponsive{
align-items: center;
width: 450px;
margin-right: 200px;
text-align: center;
align-content: center;
}
.preguntas{
    height: 800px;
    width: 1000px;
    font-size: 19px;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
}

.maindad{height: auto;
width: 1110px;}
}

